/* Main */
html{font-family:sans-serif}
footer{text-align:center; color:#808080; margin-top:5px}
.title, .section{text-align:center; margin:1px; margin-left:50px}
.title{font-size:150%}
.section{font-size:100%}
.logo{position:absolute; top:8px; right:8px}
.thumbnail{float:left; margin:5px}
.featured-category{display:table; float:left; width:31%; margin:5px}
.popular-editorial{display:table}
.featured-thumbnail{margin-top:5px; margin-bottom:5px}
/* Sidebar */
aside {width:250px; height:100%; background:white; position:fixed; top:0px; left:-250px}
.sidebar-divider{width:175px; margin:0px;}
.sidebar-item {list-style:none; font-size:18px; padding:10px}
.sidebar-item-link {text-decoration:none; color:#000000}
.sidebar-menu-button {position:absolute; top:8px; left:258px}
.sidebar-menu-input {display:none}
input:checked ~ aside {left: 0px}
.temporary-sidebar-logo-text {font-size:32px; text-align:center}
/* Mobile */
@media(max-width:600px){
  .thumbnail{margin:5px; width:100%}
  .logo{display:none}
  .featured-category{width:100%}
}
